.footer {
  background: linear-gradient(270deg, #ffdee9, #b5fffc);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px #0003;
  padding: 8px 0;
  span {
    padding: 2px 0;
  }
}
